<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
  <div class='container-fluid'>
    <!-- all items in this ul are aligned left -->
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a href="/" class="btn btn-primary px-3 mx-1">Home</a>
      </li>
      <li>
        <a href="/maps/new" class="btn btn-primary px-3 mx-1">New Map</a>
      </li>
      <li>
        <a href="/profile" class="btn btn-primary px-3 mx-1">Profile</a>
      </li>
    </ul>
    <!-- end of left aligned li -->

    <a class="navbar-brand navbar-header" href="http://localhost:8080">
      <h2>WikiMaps</h2>
    </a>

    <!-- Buttons trigger modal -->
    <!-- all items in this ul are aligned right -->
    <ul class="nav navbar-nav navbar-right">
      <li>
        <button id="logout-btn" class="btn btn-primary px-3 mx-1">Logout</button>
      </li>
      <li>
        <button type="button " id="navlogin" class="btn btn-primary px-3 mx-1">
          Login
        </button>
      </li>
      <li>
        <button type="button " id="navregister" class="btn btn-primary px-3 mx-1">
          Register
        </button>
      </li>
    </ul>
    <!-- end of left aligned li -->
  </div>
</nav>
<script src='/scripts/app.js'></script>