<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class='container-fluid'>
    <!-- all items in this ul are aligned left -->
    <ul class="nav navbar-nav navbar-left">
      <li>
        <button id="home-btn" class="btn px-3 mx-1">
          Home
        </button>
      </li>
      <% if (cookie) { %>
        <li>
          <button id="new-map-btn" class="btn px-3 mx-1">
            New Map
          </button>
        </li>
        <% } %>
    </ul>
    <!-- end of left aligned li -->

    <a class="navbar-brand navbar-header" href="http://localhost:8080">
      <h2>WikiMaps</h2>
    </a>

    <!-- Buttons trigger modal -->
    <!-- all items in this ul are aligned right -->
    <ul class="nav navbar-nav navbar-right">
      <% if (cookie) { %>
        <li>
          <button id="profile-btn" class="btn px-3 mx-1">
            Profile
          </button>
        </li>
        <li>
          <button id="logout-btn" class="btn px-3 mx-1">Logout</button>
        </li>
        <% } %>
          <% if (!cookie) { %>
            <li>
              <button type="button " id="navlogin" class="btn px-3 mx-1">
                Login
              </button>
            </li>
            <li>
              <button type="button " id="navregister" class="btn px-3 mx-1">
                Register
              </button>
            </li>
            <% } %>
    </ul>
    <!-- end of left aligned li -->
  </div>
</nav>
<script src='/scripts/app.js'></script>