<div>
  <a href="/">Home</a>
  <a href="/maps">Maps</a>
  <a href="/maps/new">New Map</a>
  <a href="/profile">Profile</a>
  <!-- jquery post - hrefs in for placeholder.-->
  <a href="/">Logout</a>
  <a href="/">Login</a>
  <a href="/">Register</a>
</div>