<!DOCTYPE html>
<html lang="en">

<head>

  <title>New Map</title>
  <!-- Google Maps API view settings -->
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <!-- BOOTSTRAP CDN 4.1.3 CSS & REQUIRED LIBS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />

</head>

<div>
  <% include ./partials/login %>
</div>
<div>
  <% include ./partials/register %>
</div>
<div>
  <% include ./partials/nav %>
</div>

<body>
  <h1>Create a new map</h1>
  <h4>Step 1: Name your map
    <br> Step 2: Provide it with a description, a type, and set you level of zoom
    <br> Step 3: Press create to add points!</h4>


  <br>
  <div class="form-group">
    <form class="mapDetails">
      <div class='form-inline py-1'>Name:
        <input type="text" name="name" class='name form-control col-lg'>
      </div>
      <div class=form-inline py-1> Type:
        <select name="types" class='types form-control col-lg'>
          <% for (let type of types) { %>
            <option value="<%= type.id %>">
              <%= type.name %>
            </option>
            <% } %>
              <!-- <option value="9">Type 2</option> -->
        </select>
      </div>
      <div class="form-inline py-1">
        Description:
        <input type="text" name="desc" class='desc form-control col-lg'>
      </div>
      <div class='form-group mx-auto text-center'>Make map private?


        <input type="checkbox" class="isPrivate form-control" name="isPrivate" value="isPrivate">
      </div>
  </div>
  </form>
  <div class='container mx-auto text-center'>
    <button class='createNewMap'>Create</button>
  </div>
  </div>

  <div class="border border-dark mx-auto" id="map"></div>



  <!-- BOOTSTRAP CDN 4.1.3 JS and required jquery and popper libs -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <!-- Initializes googlemaps object at Toronto and sends data  -->
  <script type="text/javascript" src="/scripts/new-map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= API_KEY %>&callback=initMap" async defer></script>

</body>

</html>