<!DOCTYPE html>
<html lang="en">

<head>
  <nav>
    <% include ./partials/nav %>
  </nav>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/pub-maps.js"></script>
</head>

<body>
  <h1>Home Page</h1>
  <div>
    <form class='mapSearch'>
      <input type='text' name='searchBar' id="searchBar"></input>
      <label for='searchBar'>Search Public Maps</label>
    </form>
  </div>
  <div class='mapContainer'>
  </div>
</body>

</html>