<!DOCTYPE html>
<html lang="en">

<head>
  <title>Your Profile</title>
  <!-- BOOTSTRAP CDN 4.1.3 CSS & REQUIRED LIBS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <!-- local stylesheet commented out below | no api call on this page -->
  <!-- <link rel="stylesheet" href="/styles/gmapsapi.css" type="text/css" /> -->
</head>

<div>
  <% include ./partials/login %>
</div>
<div>
  <% include ./partials/register %>
</div>
<div>
  <% include ./partials/nav %>
</div>

<body>

  <h1>Your Profile</h1>

  <div>
    <form class='mapSearch'>
      <input type='text' name='searchYour' id="searchYour"></input>
      <label for='searchYour'>Search Your Maps</label>
    </form>
  </div>
  <div class='yourMapContainer'>
  </div>
  <div>
    <form class='mapSearch'>
      <input type='text' name='searchFav' id="searchFav"></input>
      <label for='searchFav'>Search Your Favourite Maps</label>
    </form>
  </div>
  <div class='favMapContainer'>
  </div>

  <!-- BOOTSTRAP CDN 4.1.3 JS and required jquery and popper libs -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <!-- Load users map (will load "contributor on & favourites") -->
  <script type="text/javascript" src="/scripts/user-maps.js"></script>

</body>

</html>